<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<div id="app"></div>

		<template id="my-app">
			<!-- 遍历数组 -->
			<ul>
				<li v-for="(item,index) in userList" :key="index">
					{{index+1}}: {{item}}
				</li>
			</ul>

			<!-- 遍历对象 -->
			<ul>
				<li v-for="(value, key) in info" :key="key">
					key: {{key}} —— value: {{value}}
				</li>
			</ul>

			<!-- 遍历数字 -->
			<ul>
				<li v-for="(item,index) in 5" :key="index">
					index: {{index}} —— item: {{item}}
				</li>
			</ul>

			<!-- v-for 和 template -->
			<ul>
				<template v-for="(value, key) in info" :key="key">
					<li>{{key}}</li>
					<li>{{value}}</li>
					<hr />
				</template>
			</ul>
		</template>
	</body>

	<script src="../Vue.js"></script>
	<script>
		Vue.createApp({
			template: "#my-app",
			data() {
				return {
					msg: "hello world",
					userList: ["leslie", "cabbage", "yahoo"],
					info: {
						name: "leslie",
						age: 23,
						lover: "cabbage"
					}
				}
			}
		}).mount("#app")
	</script>
</html>
